<div class="container">
  <h2 class="font-weight-bold text-color-dark text-9 mb-4">
    <%= @post.new_record? ? 'Create new post' : 'Edit post' %>
  </h2>
  <div class="row">
    <div class="col-md-6"> <!-- Title takes 75% width on medium-sized screens and larger -->
      <div class="field mb-4">
        <%= f.label :title %>
        <%= f.text_field :title, required: true, class: 'form-control' %>
      </div>
    </div>
    <div class="col-md-3"> <!-- Date field takes 25% width on medium-sized screens and larger -->
      <div class="field mb-4">
        <%= f.label :date_of_post %>
        <%= f.date_field :date_of_post, class: 'form-control' %>
      </div>
    </div>
    <div class="col-md-3"> <!-- Locale takes 25% width on medium-sized screens and larger -->
      <div class="field mb-4">
        <%= f.label :locale, 'Language' %>
        <%= f.select :locale, [['English', 'en'], ['Bosnian', 'ba']], {}, required: true, class: 'form-control' %>
      </div>
    </div>
  </div>
  <div class="field mb-4">
    <%= f.label :description %>
    <%= f.text_area :description, class: 'tinymce form-control' %>
  </div>
  <!-- Main Image Upload -->
  <div class="field mb-4">
    <%= f.label :main_image %>
    <% if @post.main_image.attached? %>
      <%= f.file_field :main_image, class: 'form-control', value: @post.main_image, accept: 'image/png, image/jpeg, image/jpg', onchange: 'validateFileType(this, "mainFileList", "submitBtn")' %>
      <ul id="mainFileList">
        <li><%= File.basename(@post.main_image.filename.to_s) %></li>
      </ul>
    <% else %>
      <%= f.file_field :main_image, class: 'form-control', accept: 'image/png, image/jpeg, image/jpg', onchange: 'validateFileType(this, "mainFileList", "submitBtn")' %>
      <ul id="mainFileList"></ul>
    <% end %>
  </div>
  <!-- Secondary Images Upload -->
  <div class="field mb-4">
    <%= f.label :secondary_images %>
    <% if @post.secondary_images.attached? %>
      <%= f.file_field :secondary_images, class: 'form-control', value: @post.secondary_images, multiple: true, accept: 'image/png, image/jpeg, image/jpg', onchange: 'validateFileType(this, "secondaryFileList", "submitBtn")' %>
      <ul id="secondaryFileList">
        <% @post.secondary_images.each do |image| %>
          <li><%= File.basename(image.filename.to_s) %></li>
        <% end %>
      </ul>
    <% else %>
      <%= f.file_field :secondary_images, class: 'form-control', multiple: true, accept: 'image/png, image/jpeg, image/jpg', onchange: 'validateFileType(this, "secondaryFileList", "submitBtn")' %>
      <ul id="secondaryFileList"></ul>
    <% end %>
  </div>
</div>
<script>
  // Function to validate file types and display the file names in a list with remove button
  function validateFileType(input, listId, submitBtnId) {
    const fileNamesList = document.getElementById(listId);
    const submitBtn = document.getElementById(submitBtnId);

    fileNamesList.innerHTML = ''; // Clear previous file list

    const allowedTypes = ['image/jpeg', 'image/png']; // Add more if needed

    Array.from(input.files).forEach(file => {
      if (!allowedTypes.includes(file.type)) {
        alert('Invalid file type. Please select only image files.');
        input.value = ''; // Clear the file input
        return;
      }

      const listItem = document.createElement('li');
      listItem.textContent = file.name;

      const removeButton = document.createElement('button');
      removeButton.textContent = 'Remove';
      removeButton.type = 'button';
      removeButton.onclick = function() {
        removeFileFromList(file, listItem, input, submitBtn);
      };

      listItem.appendChild(removeButton);
      fileNamesList.appendChild(listItem);
    });
  }

  // Function to remove a file from the list
  function removeFileFromList(file, listItem, input, submitBtn) {
    const newFileList = Array.from(input.files).filter(f => f !== file);

    // Create a new FileList using DataTransfer
    const dataTransfer = new DataTransfer();
    newFileList.forEach(f => {
      dataTransfer.items.add(f);
    });

    // Set the new files to the input
    input.files = dataTransfer.files;

    listItem.remove();

  }
</script>
