	<footer id="footer" class="mt-0">
		<div class="container py-5 my-4">
			<div class="row gy-4">
				<div class="col-lg-4 align-self-center mb-4 mb-lg-0">
					<a href="index.html" class="text-decoration-none">
  								<%= image_tag('ZENOS_02.png', alt: 'Porto', width: 250, height: 62) %>
					</a>
				</div>
				<div class="col-lg-3">
					<h4 class="font-weight-bold text-color-light">About Us</h4>
					<p class="text-3-5">
						<strong class="d-block text-color-light">Zenos</strong>
						Vasa nova adresa<br>
						72000 Zenica, BiH<br>
						Phone: <a href="tel:0123456789" class="text-decoration-none">+387 61 989 049</a><br>
						Email: <a href="mailto:porto@domain.com" class="text-decoration-none">info@zen-os.com</a>
					</p>
				</div>
				<div class="col-lg-2">
					<h4 class="font-weight-bold text-color-light">Navigation</h4>
					<ul class="list list-unstyled mb-0">
						<li>
							<%= link_to "Home", pages_home_path, class: "mb-0 text-decoration-none text-3-5" %>
						</li>
						<li>
							<%= link_to "About", pages_about_path, class: "mb-0 text-decoration-none text-3-5" %>
						</li>
						<li>
							<%= link_to "Projects", pages_projects_path, class: "mb-0 text-decoration-none text-3-5" %>
						</li>
						<li>
							<%= link_to "Blog", pages_blog_path, class: "mb-0 text-decoration-none text-3-5" %>
						</li>
						<li>
							<%= link_to "Contact", pages_contact_path, class: "mb-0 text-decoration-none text-3-5" %>
						</li>
					</ul>
				</div>
				<div class="col-lg-3">
					<h4 class="font-weight-bold text-color-light">Latest Post</h4>
					<ul class="list-unstyled mb-0">
						<li class="mb-2 pb-1">
							<a href="#">
								<p class="text-3 mb-0">- <strong class="font-weight-regular">Link za zadnji post</strong></p>
								<p class="text-2 mb-0 opacity-8">12:55 AM Dec 19th</p>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="footer-copyright bg-color-dark-scale-2">
			<div class="container py-2">
				<div class="row py-4">
					<div class="col-md-4 d-flex align-items-center justify-content-center justify-content-md-start mb-2 mb-lg-0">
						<p class="text-color-grey text-3-5">Zenos. © 2023. All Rights Reserved.</p>
					</div>
					<div class="col-md-8 d-flex align-items-center justify-content-center justify-content-md-end mb-4 mb-lg-0">
						<ul class="footer-social-icons social-icons social-icons-clean social-icons-icon-light social-icons-big">
							<li class="social-icons-instagram"><a href="http://www.instagram.com/" target="_blank" title="Intagram"><i class="fab fa-instagram text-4"></i></a></li>
							<li class="social-icons-twitter"><a href="http://www.twitter.com/" target="_blank" title="Twitter"><i class="fab fa-twitter text-4"></i></a></li>
							<li class="social-icons-facebook"><a href="http://www.facebook.com/" target="_blank" title="Facebook"><i class="fab fa-facebook-f text-4"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</footer>