<header id="header" class="header-transparent header-effect-shrink" data-plugin-options="{'stickyEnabled': true, 'stickyEffect': 'shrink', 'stickyEnableOnBoxed': true, 'stickyEnableOnMobile': false, 'stickyChangeLogo': false, 'stickyStartAt': 30, 'stickyHeaderContainerHeight': 100}">
  <div class="header-body border-top-0 bg-primary box-shadow-none">
    <div class="header-container container">
      <div class="header-row">
        <div class="header-column">
          <div class="header-row">
            <div class="header-logo">
              <%= link_to root_path, class: "nav-link" do %>
                <%= image_tag('Zenos_logo_web_bijela.png', alt: 'zenos', class: 'logo') %>
              <% end %>
            </div>
          </div>
        </div>
        <div class="header-column justify-content-end">
          <div class="header-row">
            <div class="header-nav header-nav-links header-nav-line header-nav-bottom-line header-nav-bottom-line-active-text-light header-nav-dropdowns-dark header-nav-light-text">
              <div class="header-nav-main header-nav-main-text-capitalize header-nav-main-mobile-dark header-nav-main-square header-nav-main-dropdown-no-borders header-nav-main-effect-2 header-nav-main-sub-effect-1">
                <nav class="collapse">
                  <ul class="nav nav-pills no-text-transform" id="mainNav">
                    <li>
                      <%= link_to t("shared.navbar.home"), root_path, class: "nav-link" %>
                    </li>
                    <li>
                      <%= link_to t("shared.navbar.about"), pages_about_path, class: "nav-link" %>
                    </li>
                    <li>
                      <%= link_to t("shared.navbar.projects"), pages_projects_path, class: "nav-link" %>
                    </li>
                    <li>
                      <%= link_to t("shared.navbar.blog"), pages_blog_path, class: "nav-link" %>
                    </li>
                    <li>
                      <%= link_to t("shared.navbar.contact"), pages_contact_path, class: "nav-link" %>
                    </li>
                    <li>
                      <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: "nav-link" if user_signed_in? %>
                    </li>
                    <li >
                      <%= link_to("EN", url_for(locale: 'en'), class: "nav-link english") %>
                    </li>
                    <li>
                      <%= link_to("BA", url_for(locale: 'ba'), class: "nav-link bosnian") %>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
            <button class="btn header-btn-collapse-nav ms-3 ms-sm-4" data-bs-toggle="collapse" data-bs-target=".header-nav-main nav">
              <i class="fas fa-bars"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>