<div class="col-md-4 card-blog">
  <article class="post post-medium border-0 pb-0 mb-5 rounded shadow-with-padding">
    <div class="post-image">
      <%= link_to post.is_a?(BlogPost) ? blog_post_path(post) : project_post_path(post) do %>
        <%= cl_image_tag(post.main_image.key, alt: 'Main Image', class: 'img-fluid rounded', style: 'width: 100%; object-fit: cover; height: 100%;', width: 700, height: 600, crop: :fill) if post.main_image.attached? %>
      <% end %>
    </div>
    <div class="post-content p-4">
      <div class="post-date">
        <span class="day"><%= post.date_of_post.strftime("%d") %></span>
        <span class="month"><%= post.date_of_post.strftime("%b") %></span>
        <span class="year"><%= post.date_of_post.strftime("%Y") %></span>
      </div>
      <h4><%= link_to truncate(post.title, length: 55), post.is_a?(BlogPost) ? blog_post_path(post) : project_post_path(post), class: "text-decoration-none text-2" %></h4>
      <p class="mb-1"><%= truncate(post.plain_text_description, length: 250) %></p>
      <div class="d-flex justify-content-end">
        <%= link_to  post.is_a?(BlogPost) ? blog_post_path(post) : project_post_path(post), class: 'btn btn-primary btn-sm text-2' do %>
          Read More <i class="fas fa-chevron-right text-1 ms-1"></i>
        <% end %>
      </div>
    </div>
  </article>
</div>