<div class="body">
  <div role="main" class="main">
    <section class="page-header page-header-modern bg-primary custom-page-header">
      <div class="custom-svg-style-1 svg-fill-color-primary position-absolute top-0 left-50pct transform3dx-n50 h-100 z-index-0">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1920 400" xml:space="preserve" preserveAspectRatio="none" width="100%" height="100%" data-plugin-float-element-svg="true">
          <circle id="svg_2" r="7.5" cy="539.5" cx="209.5" fill="#FFF" opacity="0.2" data-plugin-float-element data-plugin-options="{'startPos': 'top', 'speed': 0.3, 'transition': true, 'transitionDuration': 1000, 'isInsideSVG': true}"/>
          <circle id="svg_3" r="12" cy="211" cx="268" fill="#FFF" opacity="0.2" data-plugin-float-element data-plugin-options="{'startPos': 'top', 'speed': 0.4, 'transition': true, 'transitionDuration': 2000, 'isInsideSVG': true}"/>
          <circle id="svg_4" r="17" cy="144" cx="1864" fill="#FFF" opacity="0.2" data-plugin-float-element data-plugin-options="{'startPos': 'top', 'speed': 0.6, 'transition': true, 'transitionDuration': 1000, 'isInsideSVG': true}"/>
          <circle id="svg_6" r="28.5" cy="326.74992" cx="327.75073" stroke-miterlimit="10" stroke-width="3" stroke="6CD499" fill="none"/>
          <circle opacity="0.2" stroke="#ffffff" id="svg_8" r="21.5" cy="340.25" cx="90.74976" fill="none" data-plugin-float-element data-plugin-options="{'startPos': 'top', 'speed': 0.3, 'transition': true, 'transitionDuration': 1000, 'isInsideSVG': true}"/>
          <circle stroke="#ffffff" opacity="0.2" id="svg_9" r="14.625" cy="689.625" cx="128.87476" fill="none" data-plugin-float-element data-plugin-options="{'startPos': 'top', 'speed': 0.5, 'transition': true, 'transitionDuration': 2000, 'isInsideSVG': true}"/>
        </svg>
      </div>
      <div class="container position-relative z-index-1 mt-4 h-100">
        <div class="row h-100">
          <div class="col align-self-center font-span">
            <div class="d-block">
              <span class="d-block custom-stroke-text-effect-1 custom-big-text-2 font-weight-bold opacity-2"><%= t("about.title") %></span>
            </div>
            <div class="d-block">
              <h1 class="text-color-light font-weight-bold positive-ls-3 custom-big-text-1 line-height-1 mb-0"><%= t("about.title") %></h1>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="container py-5 my-4">
      <div class="row">
        <div class="col">
          <h2 class="font-weight-bold text-color-dark text-9 mb-4"><%= t("about.title") %></h2>
          <p class="text-4-5 line-height-7 text-justify"><%= t("about.description_part_one") %></p>
          <p class="text-4-5 line-height-7 text-justify"><%= t("about.description_part_two") %></p>
          <div class="text-center">
            <div class="testimonial testimonial-style-2 testimonial-with-quotes testimonial-quotes-dark mb-0">
              <blockquote>
                <p class="mb-0 custom-font-1 fst-italic text-5 line-height-7"><%= t("about.qoute.text_part_one") %></p>
                <br>
                <p class="mb-0 custom-font-1 fst-italic text-5 line-height-7"><%= t("about.qoute.text_part_two") %></p>
              </blockquote>
              <div class="testimonial-author">
                <p><strong class="font-weight-bold text-color-secondary"><%= t("about.qoute.signature") %></strong></p>
              </div>
            </div>
            <%= image_tag('ZENOS-transparent-13.png',class: 'img-fluid', alt: 'signature', width: 135) %>
          </div>
        </div>
      </div>
    </div>
    <section class="section bg-color-grey-scale-1 border-0 position-relative py-0 m-0">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-6 p-0">
            <div class="h-100 m-0">
              <div class="row m-0">
                <div class="col-half-section col-half-section-right ms-auto py-5">
                  <div class="px-3 py-5 text-we-are">
                    <h2 class="font-weight-bold text-color-dark text-9 mb-4 appear-animation" data-appear-animation="fadeInUpShorterPlus" data-appear-animation-delay="200"><%= t("about.different.title") %></h2>
                    <p class="text-4-5 line-height-7 appear-animation text-justify" data-appear-animation="fadeInUpShorterPlus" data-appear-animation-delay="400"><%= t("about.different.text_part_one") %></p>
                    <p class="text-4-5 line-height-7 appear-animation text-justify" data-appear-animation="fadeInUpShorterPlus" data-appear-animation-delay="400"><%= t("about.different.text_part_two") %></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 p-0">
            <div class="h-100 m-0">
              <div class="row m-0">
                <div class="col-half-section col-half-section-right">
                  <%= image_tag('team123.png', class: 'parallax team-img', data: { plugin: 'parallax', plugin_options: { speed: 1.5, parallaxHeight: '135%' } }, style: 'min-height: 285px; max-width: 100%; height: auto;', width: 970, height: 515) %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
      <div class="row">
      


     <section class="section section-height-3 bg-dark border-0 m-0 appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="200">
      <div class="container">
        <div class="row">
          <div class="col text-center">
            <h2 class="text-color-light font-weight-bold text-9 mb-4 appear-animation" data-appear-animation="fadeInUpShorterPlus" data-appear-animation-delay="600">
              <%= t("about.testimonial_title") %>
            </h2>
          </div>
        </div>
        <div class="row justify-content-center appear-animation" data-appear-animation="fadeInUpShorterPlus" data-appear-animation-delay="800">
          <div class="col-lg-10">
            <div class="owl-carousel owl-theme nav-bottom rounded-nav dots-light custom-dots-style-1 mb-0" data-plugin-options="{'items': 1, 'loop': false}">
              <% Testimonial.all.each do |testimonial| %>
                <div>
                  <!-- Testimonial -->
                  <div class="testimonial testimonial-style-2 testimonial-with-quotes testimonial-light mb-4">
                    <blockquote>
                      <p class="text-color-light opacity-7 text-4-5 line-height-5 mb-0">
                        <%= testimonial.send("text_#{params[:locale]}") %>
                      </p>
                    </blockquote>
                  </div>

                  <!-- Div s podacima i slikom ispod testimoniala, sa responsive layoutom -->
                  <div class="row align-items-center">
                    <!-- Lijevi dio sa logom i podacima, sada ide ispod slike na manjim ekranima -->
                    <div class="col-md-6 order-2 order-md-1 text-center text-md-left mb-4">
                      <!-- Gornji deo sa logom -->
                      <div class="mb-3 d-flex justify-content-center">
                        <a href="<%= testimonial.web_link %>" target="_blank">
                          <%= image_tag("Elliot_logo.png", alt: "#{testimonial.company_name} logo", style: "width: 206px; height: auto;") %>
                        </a>
                      </div>
                      <!-- Donji deo sa podacima -->
                      <div class="text-center">
                        <span class="d-block text-color-light font-weight-bold text-5 mb-3">
                          <%= "#{testimonial.first_name} #{testimonial.last_name}" %>
                        </span>
                        <span class="d-block text-color-light opacity-7 font-weight-bold line-height-1 text-3 mb-2">
                          <%= testimonial.company_name %>
                        </span>
                        <span class="d-block text-color-light opacity-7 font-weight-bold line-height-1 text-3 mb-2">
                          <a href="<%= testimonial.web_link %>" class="text-color-light" target="_blank"><%= testimonial.web_link %></a>
                        </span>
                      </div>
                    </div>

                    <!-- Desni deo sa slikom autora, sada ide iznad loga na manjim ekranima -->
                    <div class="col-md-6 order-1 order-md-2 d-flex justify-content-center mb-4">
                      <%= image_tag("Elliot.jpeg", alt: 'author', class: "rounded-circle", style: "width: 275px; height: 275px; object-fit: cover; object-position: center;") %>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </section>













        
      </div>
    </div>
    <%= render "shared/contact_us" %>
  </div>
</div>
