<div class="body">
  <div role="main" class="main">
    <section class="page-header page-header-modern bg-primary custom-page-header">
      <div class="custom-svg-style-1 svg-fill-color-primary position-absolute top-0 left-50pct transform3dx-n50 h-100 z-index-0">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1920 400" xml:space="preserve" preserveAspectRatio="none" width="100%" height="100%" data-plugin-float-element-svg="true">
          <circle id="svg_2" r="7.5" cy="539.5" cx="209.5" fill="#FFF" opacity="0.2" data-plugin-float-element data-plugin-options="{'startPos': 'top', 'speed': 0.3, 'transition': true, 'transitionDuration': 1000, 'isInsideSVG': true}"/>
          <circle id="svg_3" r="12" cy="211" cx="268" fill="#FFF" opacity="0.2" data-plugin-float-element data-plugin-options="{'startPos': 'top', 'speed': 0.4, 'transition': true, 'transitionDuration': 2000, 'isInsideSVG': true}"/>
          <circle id="svg_4" r="17" cy="144" cx="1864" fill="#FFF" opacity="0.2" data-plugin-float-element data-plugin-options="{'startPos': 'top', 'speed': 0.6, 'transition': true, 'transitionDuration': 1000, 'isInsideSVG': true}"/>
          <circle id="svg_6" r="28.5" cy="326.74992" cx="327.75073" stroke-miterlimit="10" stroke-width="3" stroke="6CD499" fill="none"/>
          <circle opacity="0.2" stroke="#ffffff" id="svg_8" r="21.5" cy="340.25" cx="90.74976" fill="none" data-plugin-float-element data-plugin-options="{'startPos': 'top', 'speed': 0.3, 'transition': true, 'transitionDuration': 1000, 'isInsideSVG': true}"/>
          <circle stroke="#ffffff" opacity="0.2" id="svg_9" r="14.625" cy="689.625" cx="128.87476" fill="none" data-plugin-float-element data-plugin-options="{'startPos': 'top', 'speed': 0.5, 'transition': true, 'transitionDuration': 2000, 'isInsideSVG': true}"/>
        </svg>
      </div>
      <div class="container position-relative z-index-1 mt-4 h-100">
        <div class="row h-100">
          <div class="col align-self-center font-span">
            <div class="d-block">
              <span class="d-block custom-stroke-text-effect-1 custom-big-text-2 font-weight-bold opacity-2"><%= t("education_training.title") %></span>
            </div>
            <div class="d-block">
              <h1 class="text-color-light font-weight-bold positive-ls-3 custom-big-text-1 line-height-1 mb-0"><%= t("education_training.title") %></h1>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="container py-5 my-4">
      <div class="row">
        <div class="col">
          <h2 class="font-weight-bold text-color-dark text-9 mb-4"><%= t("education_training.title") %></h2>
          <p class="text-4-5 line-height-7 text-justify"><%= t("education_training.description") %></p>
          <h3 class="font-weight-bold text-color-dark text-9 mb-5 text-center mt-5"><%= t("education_training.invididual_training.title") %></h2>
          <div class="row">
            <div class="col-md-6">
              <div class="card border-radius-2 bg-color-light box-shadow-1 mb-4 min-height-580">
                <div class="card-body p-relative zindex-1">
                  <div class="feature-box feature-box-primary text-center d-flex flex-column align-items-center">
                    <div class="feature-box-icon border-radius-2 mb-3 w-auto h-auto p-4 text-5">
                      <i class="fas fa-rocket fa-2x"></i>
                    </div>
                    <div class="feature-box-info p-0 mt-2">
                      <h4 class="mb-2"><%= t("education_training.invididual_training.entrepreneurship.title") %></h4>
                      <p class="mb-2"><%= t("education_training.invididual_training.entrepreneurship.description") %></p>
                      <ul style="list-style-type: disc; padding-left: 1.5rem; text-align: left;">
                        <li>
                          <p><%= t("education_training.invididual_training.entrepreneurship.module_one") %></p>
                        </li>
                        <li>
                          <p><%= t("education_training.invididual_training.entrepreneurship.module_two") %></p>
                        </li>
                        <li>
                          <p><%= t("education_training.invididual_training.entrepreneurship.module_three") %></p>
                        </li>
                        <li>
                          <p><%= t("education_training.invididual_training.entrepreneurship.module_four") %></p>
                        </li>
                        <li>
                          <p><%= t("education_training.invididual_training.entrepreneurship.module_five") %></p>
                        </li>
                        <li>
                          <p><%= t("education_training.invididual_training.entrepreneurship.module_six") %></p>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card border-radius-2 bg-color-light box-shadow-1 mb-4 min-height-580">
                <div class="card-body p-relative zindex-1">
                  <div class="feature-box feature-box-primary text-center d-flex flex-column align-items-center">
                    <div class="feature-box-icon border-radius-2 mb-3 w-auto h-auto p-4 text-5">
                      <i class="fas fa-briefcase fa-2x"></i>
                    </div>
                    <div class="feature-box-info p-0 mt-2">
                      <h4 class="mb-2"><%= t("education_training.invididual_training.economic_empowerment.title") %></h4>
                      <p class="mb-2"><%= t("education_training.invididual_training.economic_empowerment.description") %></p>
                      <ul style="list-style-type: disc; padding-left: 1.5rem; text-align: left;">
                        <li>
                          <p><%= t("education_training.invididual_training.economic_empowerment.module_one") %></p>
                        </li>
                        <li>
                          <p><%= t("education_training.invididual_training.economic_empowerment.module_two") %></p>
                        </li>
                        <li>
                          <p><%= t("education_training.invididual_training.economic_empowerment.module_three") %></p>
                        </li>
                        <li>
                          <p><%= t("education_training.invididual_training.economic_empowerment.module_four") %></p>
                        </li>
                        <li>
                          <p><%= t("education_training.invididual_training.economic_empowerment.module_five") %></p>
                        </li>
                        <li>
                          <p><%= t("education_training.invididual_training.economic_empowerment.module_six") %></p>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <!-- Kartica 3 -->
            <div class="col-md-6">
              <div class="card border-radius-2 bg-color-light box-shadow-1 mb-4 min-height-470">
                <div class="card-body p-relative zindex-1">
                  <div class="feature-box feature-box-primary text-center d-flex flex-column align-items-center">
                    <div class="feature-box-icon border-radius-2 mb-3 w-auto h-auto p-4 text-5">
                      <i class="fas fa-bullhorn fa-2x"></i>
                    </div>
                    <div class="feature-box-info p-0 mt-2">
                      <h4 class="mb-2"><%= t("education_training.invididual_training.marketing_communication.title") %></h4>
                      <p class="mb-2"><%= t("education_training.invididual_training.marketing_communication.description") %></p>
                      <ul style="list-style-type: disc; padding-left: 1.5rem; text-align: left;">
                        <li>
                          <p><%= t("education_training.invididual_training.marketing_communication.module_one") %></p>
                        </li>
                        <li>
                          <p><%= t("education_training.invididual_training.marketing_communication.module_two") %></p>
                        </li>
                        <li>
                          <p><%= t("education_training.invididual_training.marketing_communication.module_three") %></p>
                        </li>
                        <li>
                          <p><%= t("education_training.invididual_training.marketing_communication.module_four") %></p>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Kartica 4 -->
            <div class="col-md-6">
              <div class="card border-radius-2 bg-color-light box-shadow-1 mb-4 min-height-470">
                <div class="card-body p-relative zindex-1">
                  <div class="feature-box feature-box-primary text-center d-flex flex-column align-items-center">
                    <div class="feature-box-icon border-radius-2 mb-3 w-auto h-auto p-4 text-5">
                      <i class="fas fa-globe fa-2x"></i>
                    </div>
                    <div class="feature-box-info p-0 mt-2">
                      <h4 class="mb-2"><%= t("education_training.invididual_training.intercultural_communication.title") %></h4>
                      <p class="mb-2"><%= t("education_training.invididual_training.intercultural_communication.description") %></p>
                      <ul style="list-style-type: disc; padding-left: 1.5rem; text-align: left;">
                        <li>
                          <p><%= t("education_training.invididual_training.intercultural_communication.module_one") %></p>
                        </li>
                        <li>
                          <p><%= t("education_training.invididual_training.intercultural_communication.module_two") %></p>
                        </li>
                        <li>
                          <p><%= t("education_training.invididual_training.intercultural_communication.module_three") %></p>
                        </li>
                        <li>
                          <p><%= t("education_training.invididual_training.intercultural_communication.module_four") %></p>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-md-6">
              <div class="card border-radius-2 bg-color-light box-shadow-1 mb-4 min-height-470">
                <div class="card-body p-relative zindex-1">
                  <div class="feature-box feature-box-primary text-center d-flex flex-column align-items-center">
                    <div class="feature-box-icon border-radius-2 mb-3 w-auto h-auto p-4 text-5">
                      <i class="fas fa-apple-alt fa-2x"></i>
                    </div>
                    <div class="feature-box-info p-0 mt-2">
                      <h4 class="mb-2"><%= t("education_training.invididual_training.healthy_nutrition.title") %></h4>
                      <p class="mb-2"><%= t("education_training.invididual_training.healthy_nutrition.description") %></p>
                      <ul style="list-style-type: disc; padding-left: 1.5rem; text-align: left;">
                        <li>
                          <p><%= t("education_training.invididual_training.healthy_nutrition.module_one") %></p>
                        </li>
                        <li>
                          <p><%= t("education_training.invididual_training.healthy_nutrition.module_two") %></p>
                        </li>
                        <li>
                          <p><%= t("education_training.invididual_training.healthy_nutrition.module_three") %></p>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <h3 class="font-weight-bold text-color-dark text-9 mb-5 text-center mt-5"><%= t("education_training.corporate_training.title") %></h2>
      <!-- Prvi red: Kartica koja zauzima ceo red -->
      <div class="row justify-content-center">
        <div class="col-md-12">
          <div class="card border-radius-2 bg-color-light box-shadow-1 mb-4">
            <div class="card-body p-relative zindex-1">
              <div class="feature-box feature-box-primary text-center d-flex flex-column align-items-center">
                <div class="feature-box-icon border-radius-2 mb-3 w-auto h-auto p-4 text-5">
                  <i class="fas fa-users fa-2x"></i>
                </div>
                <div class="feature-box-info p-0 mt-2">
                  <h4 class="mb-2"><%= t("education_training.corporate_training.talent_management.title") %></h4>
                  <p class="mb-2"><%= t("education_training.corporate_training.talent_management.description") %></p>
                  <div class="row">
                    <div class="col-md-4">
                      <ul style="list-style-type: disc; padding-left: 1.5rem; text-align: left;">
                        <li>
                          <p><%= t("education_training.corporate_training.talent_management.module_one") %></p>
                        </li>
                        <li>
                          <p><%= t("education_training.corporate_training.talent_management.module_two") %></p>
                        </li>
                        <li>
                          <p><%= t("education_training.corporate_training.talent_management.module_three") %></p>
                        </li>
                      </ul>
                    </div>
                    <div class="col-md-4">
                      <ul style="list-style-type: disc; padding-left: 1.5rem; text-align: left;">
                        <li>
                          <p><%= t("education_training.corporate_training.talent_management.module_four") %></p>
                        </li>
                        <li>
                          <p><%= t("education_training.corporate_training.talent_management.module_five") %></p>
                        </li>
                        <li>
                          <p><%= t("education_training.corporate_training.talent_management.module_six") %></p>
                        </li>
                      </ul>
                    </div>
                    <div class="col-md-4">
                      <ul style="list-style-type: disc; padding-left: 1.5rem; text-align: left;">
                        <li>
                          <p><%= t("education_training.corporate_training.talent_management.module_seven") %></p>
                        </li>
                        <li>
                          <p><%= t("education_training.corporate_training.talent_management.module_eight") %></p>
                        </li>
                        <li>
                          <p><%= t("education_training.corporate_training.talent_management.module_nine") %></p>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Drugi red: Dve normalne kartice -->
      <div class="row justify-content-center">
        <!-- Kartica 2: Marketing Strategy & Implementation -->
        <div class="col-md-6">
          <div class="card border-radius-2 bg-color-light box-shadow-1 mb-4 min-height-440">
            <div class="card-body p-relative zindex-1">
              <div class="feature-box feature-box-primary text-center d-flex flex-column align-items-center">
                <div class="feature-box-icon border-radius-2 mb-3 w-auto h-auto p-4 text-5">
                  <i class="fas fa-chart-line fa-2x"></i>
                </div>
                <div class="feature-box-info p-0 mt-2">
                  <h4 class="mb-2"><%= t("education_training.corporate_training.marketing_strategy.title") %></h4>
                  <p class="mb-2"><%= t("education_training.corporate_training.marketing_strategy.description") %></p>
                  <ul style="list-style-type: disc; padding-left: 1.5rem; text-align: left;">
                    <li>
                      <p><%= t("education_training.corporate_training.marketing_strategy.module_one") %></p>
                    </li>
                    <li>
                      <p><%= t("education_training.corporate_training.marketing_strategy.module_two") %></p>
                    </li>
                    <li>
                      <p><%= t("education_training.corporate_training.marketing_strategy.module_three") %></p>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Kartica 3: Cultural Intelligence & Diversity -->
        <div class="col-md-6">
          <div class="card border-radius-2 bg-color-light box-shadow-1 mb-4 min-height-440">
            <div class="card-body p-relative zindex-1">
              <div class="feature-box feature-box-primary text-center d-flex flex-column align-items-center">
                <div class="feature-box-icon border-radius-2 mb-3 w-auto h-auto p-4 text-5">
                  <i class="fas fa-users-cog fa-2x"></i>
                </div>
                <div class="feature-box-info p-0 mt-2">
                  <h4 class="mb-2"><%= t("education_training.corporate_training.cultural_intelligence.title") %></h4>
                  <p class="mb-2"><%= t("education_training.corporate_training.cultural_intelligence.description") %></p>
                  <ul style="list-style-type: disc; padding-left: 1.5rem; text-align: left;">
                    <li>
                      <p><%= t("education_training.corporate_training.cultural_intelligence.module_one") %></p>
                    </li>
                    <li>
                      <p><%= t("education_training.corporate_training.cultural_intelligence.module_two") %></p>
                    </li>
                    <li>
                      <p><%= t("education_training.corporate_training.cultural_intelligence.module_three") %></p>
                    </li>
                    <li>
                      <p><%= t("education_training.corporate_training.cultural_intelligence.module_four") %></p>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Treći red: Jedna kartica na sredini -->
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="card border-radius-2 bg-color-light box-shadow-1 mb-4">
            <div class="card-body p-relative zindex-1">
              <div class="feature-box feature-box-primary text-center d-flex flex-column align-items-center">
                <div class="feature-box-icon border-radius-2 mb-3 w-auto h-auto p-4 text-5">
                  <i class="fas fa-utensils fa-2x"></i>
                </div>
                <div class="feature-box-info p-0 mt-2">
                  <h4 class="mb-2"><%= t("education_training.corporate_training.healthy_nutrition.title") %></h4>
                  <p class="mb-2"><%= t("education_training.corporate_training.healthy_nutrition.description") %></p>
                  <ul style="list-style-type: disc; padding-left: 1.5rem; text-align: left;">
                    <li>
                      <p><%= t("education_training.corporate_training.healthy_nutrition.module_one") %></p>
                    </li>
                    <li>
                      <p><%= t("education_training.corporate_training.healthy_nutrition.module_two") %></p>
                    </li>
                    <li>
                      <p><%= t("education_training.corporate_training.healthy_nutrition.module_three") %></p>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <p class="text-4-5 line-height-7 text-justify"><%= t("education_training.description2") %></p>
      <p class="text-4-5 line-height-7 text-justify"><%= t("education_training.description3") %></p>
    </div>
    <%= render "shared/contact_us" %>
  </div>
</div>
