<div class="body">
  <div role="main" class="main">
    <div class="owl-carousel owl-carousel-light owl-carousel-light-init-fadeIn owl-theme manual dots-inside dots-horizontal-center custom-dots-style-1 dots-light show-dots-hover show-dots-xs show-dots-sm show-dots-md nav-style-1 nav-inside nav-inside-plus nav-light nav-lg nav-font-size-lg show-nav-hover bg-color-quaternary custom-slider-container mb-0" data-plugin-options="{'autoplay': false, 'autoplayTimeout': 7000}" data-dynamic-height="['780px','780px','780px','780px','510px']" style="height: 780px;">
      <div class="owl-stage-outer">
        <div class="owl-stage">
          <!-- Carousel Slide 1 -->
          <div class="owl-item position-relative overflow-hidden">
            <%= image_tag('ena_ema.JPEG', class: 'img-fluid custom-bg-slider-right ', alt: '') %>
            <div class="container position-relative h-100 z-index-1 mt-4">
              <div class="row titles align-items-center h-100">
                <div class="col mb-5-5 mb-sm-0 font-span phone-titles">
                  <div class="appear-animation first-title hide" data-appear-animation="fadeInDownShorterPlus" data-appear-animation-delay="400">
                    <span class="d-block custom-stroke-text-effect-1 custom-big-text-2 font-weight-bold opacity-2">ZENOS</span>
                  </div>
                  <div class="appear-animation second-title hide" data-appear-animation="fadeInDownShorterPlus" data-appear-animation-delay="600">
                    <span class="d-block custom-stroke-text-effect-1 custom-big-text-2 font-weight-bold opacity-5">ZENOS</span>
                  </div>
                  <div class="appear-animation" data-appear-animation="fadeInDownShorterPlus" data-appear-animation-delay="800">
                    <span class="d-block custom-stroke-text-effect-1 custom-big-text-2 font-weight-bold">ZENOS</span>
                  </div>
                  <div class="appear-animation" data-appear-animation="fadeInDownShorterPlus" data-appear-animation-delay="1000">
                    <h1 class="text-color-light font-weight-bold positive-ls-3 custom-big-text-1 line-height-1 mb-0">ZENOS</h1>
                  </div>
                  <p class="text-color-dark font-weight-bold text-7 text-sm-9 ms-2 mb-0 appear-animation text-home hide" data-appear-animation="fadeInDownShorterPlus" data-appear-animation-delay="1200"><%= t("home.text_banner_first") %></p>
                  <p class="text-color-dark font-weight-bold text-7 text-sm-9 ms-2 mb-0 appear-animation mt-3 text-home hide" data-appear-animation="fadeInDownShorterPlus" data-appear-animation-delay="1400"><%= t("home.text_banner_second") %></p>
                  <p class="text-color-light font-weight-bold text-4 text-sm-9 ms-2 mb-0 appear-animation mt-1 text-home hide-no-phone " data-appear-animation="fadeInDownShorterPlus" data-appear-animation-delay="1400"><%= t("home.text_banner_first") + ' ' + t("home.text_banner_second") %></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container py-5 my-4">
      <div class="row">
        <% data = {
						'economic_empowerment.svg': 'economic',
						'bullhorn-solid.svg': 'marketing',
						'book-solid.svg': 'education',
						'people-group-solid.svg': 'inclusion',
						'mountain-city-solid.svg': 'social',
						'cultural_intelligence.svg': 'cultural',
						'apple-whole-solid.svg': 'healty',
						'lightbulb-solid.svg': 'entreprenurship'
					} %>
        <% data.each do |path, name| %>
          <div class="col-md-3">
            <div class="featured-boxes featured-boxes-style-6 p-0 m-0">
              <div class="featured-box featured-box-primary featured-box-effect-6 p-0 m-0">
                <div class="box-content p-0 m-0 text-center">
                  <%= image_tag(path, width: 70, height: 70, alt: '', data: { icon: true, plugin_options: { onlySVG: true, extraClass: 'svg-fill-color-primary px-5 py-4' } }) %>
                  <h4 class="positive-ls-3 font-weight-bold text-3"><%= t("home.cards.#{name}") %></h4>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <section class="section section-height-3 bg-dark border-0 m-0 appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="200">
      <Div class="container">
        <div class="row">
          <div class="col text-center">
            <h2 class="text-color-light font-weight-bold text-9 mb-4 appear-animation" data-appear-animation="fadeInUpShorterPlus" data-appear-animation-delay="600"><%= t("home.who.title") %></h2>
          </div>
        </div>
        <div class="row justify-content-center appear-animation" data-appear-animation="fadeInUpShorterPlus" data-appear-animation-delay="800">
          <div class="col-lg-10">
            <div class="owl-carousel owl-theme nav-bottom rounded-nav dots-light custom-dots-style-1 mb-0" data-plugin-options="{'items': 1, 'loop': false}">
              <div>
                <div class="testimonial testimonial-style-2 testimonial-with-quotes testimonial-remove-right-quote testimonial-light mb-4">
                  <p class="text-color-light opacity-7 text-5 line-height-5 mb-5"><%= t("home.who.first_part") %></p>
                  <p class="text-color-light opacity-7 text-5 line-height-5 mb-5"><%= t("home.who.second_part") %></p>
                  <p class="text-color-light opacity-7 text-5 line-height-5 mb-0"><%= t("home.who.third_part") %></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </Div>
    </section>
    <div class="container py-5 my-4">
      <div class="row">
        <div class="col">
          <div class="text-center">
            <div class="testimonial testimonial-style-2 testimonial-with-quotes testimonial-quotes-dark mb-0">
              <blockquote>
                <p class="mb-0 custom-font-1 fst-italic text-5 line-height-7"><%= t("home.qoute.text") %></p>
              </blockquote>
              <div class="testimonial-author">
                <p><strong class="font-weight-bold text-color-secondary"><%= t("home.qoute.signature") %></strong></p>
              </div>
            </div>
            <%= image_tag('ZENOS-transparent-13.png',class: 'img-fluid', alt: 'signature', width: 135) %>
          </div>
        </div>
      </div>
    </div>
    <%= render "shared/contact_us" %>
  </div>
</div>
