<div class="body">
  <div role="main" class="main">
    <section class="page-header page-header-modern bg-primary custom-page-header mb-0" style="height: 100px !important;">
      <div class="custom-svg-style-1 svg-fill-color-primary position-absolute top-0 left-50pct transform3dx-n50 h-100 z-index-0">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1920 400" xml:space="preserve" preserveAspectRatio="none" width="100%" height="100%" data-plugin-float-element-svg="true">
          <circle id="svg_2" r="7.5" cy="539.5" cx="209.5" fill="#FFF" opacity="0.2" data-plugin-float-element data-plugin-options="{'startPos': 'top', 'speed': 0.3, 'transition': true, 'transitionDuration': 1000, 'isInsideSVG': true}"/>
          <circle id="svg_3" r="12" cy="211" cx="268" fill="#FFF" opacity="0.2" data-plugin-float-element data-plugin-options="{'startPos': 'top', 'speed': 0.4, 'transition': true, 'transitionDuration': 2000, 'isInsideSVG': true}"/>
          <circle id="svg_4" r="17" cy="144" cx="1864" fill="#FFF" opacity="0.2" data-plugin-float-element data-plugin-options="{'startPos': 'top', 'speed': 0.6, 'transition': true, 'transitionDuration': 1000, 'isInsideSVG': true}"/>
          <circle id="svg_6" r="28.5" cy="326.74992" cx="327.75073" stroke-miterlimit="10" stroke-width="3" stroke="6CD499" fill="none"/>
          <circle opacity="0.2" stroke="#ffffff" id="svg_8" r="21.5" cy="340.25" cx="90.74976" fill="none" data-plugin-float-element data-plugin-options="{'startPos': 'top', 'speed': 0.3, 'transition': true, 'transitionDuration': 1000, 'isInsideSVG': true}"/>
          <circle stroke="#ffffff" opacity="0.2" id="svg_9" r="14.625" cy="689.625" cx="128.87476" fill="none" data-plugin-float-element data-plugin-options="{'startPos': 'top', 'speed': 0.5, 'transition': true, 'transitionDuration': 2000, 'isInsideSVG': true}"/>
        </svg>
      </div>
    </section>
    <section class="section bg-color-grey-scale-1 border-0 position-relative py-0 m-0">
      <div class="container text-center">
        <div class="row d-flex align-items-center justify-content-between"> <!-- Dodano d-flex i justify-content-between -->
          <!-- Lijevi dio sa tekstom -->
          <div class="col-6 text-container">
            <h2 class="font-weight-bold text-color-dark mb-4">
              A <span class="highlight-text" data-appear-animation="fadeInUpShorterPlus" data-appear-animation-delay="300">Systematic Approach</span> to Securing Your Next Deal
            </h2>
          </div>
          <!-- Desni dio sa slikom -->
          <div class="col-6 image-container">
            <%= image_tag('ena_ema.JPEG', class: 'parallax ee_landing', 
    data: { plugin: 'parallax', plugin_options: { speed: 1.5, parallaxHeight: '135%' } }, 
    style: 'width: 100%; height: auto; margin: 0;', 
    width: 970, height: 515) %>
          </div>
          <!-- Tekst ispod slike i glavnog naslova -->
          <div class="row justify-content-center"> <!-- Dodano za centriranje -->
            <div class="col-lg-8">
              <p class="text-4-5 line-height-7 appear-animation text-justify" data-appear-animation="fadeInUpShorterPlus" data-appear-animation-delay="600">
                We support startup companies without dedicated marketing teams in their quest to explore the international market and create new opportunities.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="container mt-1 send-message-container">
        <div class="row">
          <div class="col-md-10 mx-auto"> <!-- Širina forme -->
            <h2 class="font-weight-bold text-color-dark text-7 mt-0 mb-4">Get in touch with us</h2>
            <%= form_with(url: contact_form_send_email_landing_path, method: 'post', local: true, class: 'contact-form custom-form-style-1', id: 'contact-form_landing') do |form| %>
              <div class="contact-form-success alert alert-success d-none mt-4">
                <strong>Success!</strong> Your message has been sent to us.
              </div>
              <div class="contact-form-error alert alert-danger d-none mt-4">
                <strong>Error!</strong> There was an error sending your message.
                <span class="mail-error-message text-1 d-block"></span>
              </div>
              <div class="row row-gutter-sm align-items-center"> <!-- Dodano align-items-center za vertikalno poravnanje -->
                <div class="form-group col-lg-3 mb-4"> <!-- Smanjeno sa col-lg-4 na col-lg-3 -->
                  <%= form.text_field :name, class: 'form-control', id: 'name', required: true, placeholder: 'Your Name', maxlength: 100, 'data-msg-required' => 'Please enter your name.' %>
                </div>
                <div class="form-group col-lg-3 mb-4"> <!-- Smanjeno sa col-lg-4 na col-lg-3 -->
                  <%= form.text_field :company_name, class: 'form-control', id: 'company_name', required: true, placeholder: 'Company Name', maxlength: 100, 'data-msg-required' => 'Please enter your company name.' %>
                </div>
                <div class="form-group col-lg-3 mb-4"> <!-- Smanjeno sa col-lg-4 na col-lg-3 -->
                  <%= form.email_field :email, class: 'form-control', id: 'email', required: true, placeholder: 'Your Email', maxlength: 100, 'data-msg-required' => 'Please enter your email address.', 'data-msg-email' => 'Please enter a valid email address.' %>
                </div>
                <div class="form-group col-auto mb-4"> <!-- Dugme u istoj liniji -->
                  <%= form.submit 'Send Email', class: 'btn btn-gradient font-weight-bold btn-px-5 btn-py-3' %>
                </div>
              </div>
            <% end %>
            <div class="row justify-content-center">
              <div class="col-lg-8">
                <p class="text-4-5 line-height-7 appear-animation text-justify" data-appear-animation="fadeInUpShorterPlus" data-appear-animation-delay="400">
                  To stand out, you need to understand your audience first. 
                </p>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-lg-12">
                <p class="text-4-5 line-height-7 appear-animation text-justify" data-appear-animation="fadeInUpShorterPlus" data-appear-animation-delay="400">
                  Identify, find and start conversations with your ideal targets. Our job is to create tailored content and manage the initial communication so you can focus on what you do best. 
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>