<div class="body">

	<div role="main" class="main">

		<section class="page-header page-header-modern bg-primary custom-page-header mb-0">

			<div class="custom-svg-style-1 svg-fill-color-primary position-absolute top-0 left-50pct transform3dx-n50 h-100 z-index-0">
				<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1920 400" xml:space="preserve" preserveAspectRatio="none" width="100%" height="100%" data-plugin-float-element-svg="true">
					<circle id="svg_2" r="7.5" cy="539.5" cx="209.5" fill="#FFF" opacity="0.2" data-plugin-float-element data-plugin-options="{'startPos': 'top', 'speed': 0.3, 'transition': true, 'transitionDuration': 1000, 'isInsideSVG': true}"/>
					<circle id="svg_3" r="12" cy="211" cx="268" fill="#FFF" opacity="0.2" data-plugin-float-element data-plugin-options="{'startPos': 'top', 'speed': 0.4, 'transition': true, 'transitionDuration': 2000, 'isInsideSVG': true}"/>
					<circle id="svg_4" r="17" cy="144" cx="1864" fill="#FFF" opacity="0.2" data-plugin-float-element data-plugin-options="{'startPos': 'top', 'speed': 0.6, 'transition': true, 'transitionDuration': 1000, 'isInsideSVG': true}"/>
					<circle id="svg_6" r="28.5" cy="326.74992" cx="327.75073" stroke-miterlimit="10" stroke-width="3" stroke="6CD499" fill="none"/>
					<circle opacity="0.2" stroke="#ffffff" id="svg_8" r="21.5" cy="340.25" cx="90.74976" fill="none" data-plugin-float-element data-plugin-options="{'startPos': 'top', 'speed': 0.3, 'transition': true, 'transitionDuration': 1000, 'isInsideSVG': true}"/>
					<circle stroke="#ffffff" opacity="0.2" id="svg_9" r="14.625" cy="689.625" cx="128.87476" fill="none" data-plugin-float-element data-plugin-options="{'startPos': 'top', 'speed': 0.5, 'transition': true, 'transitionDuration': 2000, 'isInsideSVG': true}"/>
				</svg>								
			</div>

			<div class="container position-relative z-index-1 mt-4 h-100">
				<div class="row h-100">
					<div class="col align-self-center font-span">
						<div class="d-block">
							<span class="d-block custom-stroke-text-effect-1 custom-big-text-2 font-weight-bold opacity-2">NUTRITION</span>
						</div>
						<div class="d-block">
							<h1 class="text-color-light font-weight-bold positive-ls-3 custom-big-text-1 line-height-1 mb-0">NUTRITION</h1>
						</div>
					</div>
				</div>
			</div>

		</section>
		<div class="container banner-container py-5 mt-4">
			<%= image_tag('landing.jpg', class: '', alt: '', style: 'width: 100%; height: 470px; object-fit: cover;') %>
			<div class="centered-text">
				<p>NUTRITION</p>
			</div>
		</div>
		<div class="container text-center">
			<h1>PRIRUČNIK: ZDRAVA ISHRANA U RAMAZANU</h1>

			<div class="content-block mt-4 d-flex flex-column justify-content-center align-items-center">
				<p class="text-4-5 line-height-7 text-justify mb-0">Priručnik o kupovini, odabiru namirnica za sehur i iftar i zdravoj pripremi obroka (drugo, dopunjeno izdanje)</p>
				<p class="plus-sign">+</p>
				<p class="text-4-5 line-height-7 text-justify mb-4">Plan ishrane za žene koje žele smršati</p>
				<div class="d-flex justify-content-between align-items-center">
					<p class="text-4-5 line-height-7 mb-0 mx-4">Cijena: 35 KM (18 €)</p>
					<%= link_to "Naruči priručnik", "https://www.facebook.com/zenos.nutrition", target: "_blank", class: "btn btn-gradient font-weight-bold btn-px-5 btn-py-3" %>
				</div>
			</div>


			<div class="content-block mt-4 mb-4">
				<p class="text-4-5 line-height-7 mb-0 mx-4">Priručnik možete naručiti i putem:</p>
				<ul class="footer-social-icons social-icons social-icons-clean social-icons-icon-dark social-icons-xxl ms-3">
					<li class="social-icons-instagram"><a href="https://www.instagram.com/zenos.nutrition/" target="_blank" title="Instagram"><i class="fab fa-instagram text-10"></i></a></li>
					<li class="social-icons-facebook m-3"><a href="https://www.facebook.com/zenos.nutrition" target="_blank" title="Facebook"><i class="fab fa-facebook-f text-10"></i></a></li>
					<li class="social-icons-email"><a href="mailto:prirucnik@zen-os.com" target="_blank" title="Email"><i class="far fa-envelope text-10"></i></a></li>
				</ul>
			</div>
		</div>

		<section class="section bg-color-grey-scale-1 border-0 position-relative py-0 m-0">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-6 p-0">
						<div class="h-100 m-0">
							<div class="row m-0">
								<div class="col-half-section col-half-section-right ms-auto py-5">
									<div class="px-3 py-5">
										<h2 class="font-weight-bold text-color-dark text-9 mb-4 appear-animation" data-appear-animation="fadeInUpShorterPlus" data-appear-animation-delay="200">Priručnik o zdravoj ishrani u Ramazanu</h2>
										<p class="text-4-5 line-height-7 appear-animation text-justify" data-appear-animation="fadeInUpShorterPlus" data-appear-animation-delay="400">Post je jedan od najboljih načina za unaprjeđenje zdravlja, ali ako i samo ako, vaši obroci budu zdravi. Nažalost, ako za vrijeme sehura i iftara, jedete neadekvatne namirnice, sve prednosti posta za zdravlje će biti umanjene, pa možda čak i potpuno nulirane. Ovaj Ramazan možete ispostiti još lakše nego inače, ukoliko poslušate savjete nutricioniste i za sehur i iftar sebi pripremite odgovarajuće obroke.</p>
										<p class="text-4-5 line-height-7 appear-animation text-justify" data-appear-animation="fadeInUpShorterPlus" data-appear-animation-delay="400">Naručite Priručnik: Zdravom ishranom do gubitka kilograma</p>
										<%= link_to "Naruči priručnik", "https://www.facebook.com/zenos.nutrition", { target: "_blank", class: "btn btn-gradient font-weight-bold btn-px-5 btn-py-3 appear-animation", 'data-appear-animation' => 'fadeInUpShorterPlus', 'data-appear-animation-delay' => '600' } %>
									</div>

								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-6 p-0">
						<div class="h-100 m-0">
							<div class="row m-0">
								<div class="col-half-section col-half-section-right">
										<%= image_tag('bowls.jpg', class: 'parallax', data: { plugin: 'parallax', plugin_options: { speed: 1.5, parallaxHeight: '135%' } }, style: 'min-height: 285px; max-width: 100%; height: auto;', width: 970, height: 515) %>					
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<div class="container text-center mt-3">
			<h1>Priručnik odgovara na vaše glavne nedoumice:</h1>
			<div class="container py-5 my-4">
				<div class="row">
					<div class="col">
						<div class="row">
						<% data = {
						'cart-shopping-solid.svg': 'KAKO DA OBAVITE RAMAZANSKU KUPOVINU',
						'utensils-solid.svg': 'ŠTA DA JEDETE ZA SEHUR I IFTAR',
						'kitchen-set-solid.svg': 'KAKO DA PRIPREMATE SVOJA OMILJENA BOSANSKA JELA'
						} %>
							<% data.each do |path, name| %>
								<div class="col-md-4">
									<div class="featured-boxes featured-boxes-style-6 p-0 m-0">
										<div class="featured-box featured-box-primary featured-box-effect-6 p-0 m-0">
											<div class="box-content p-0 m-0 text-center">
												<%= image_tag(path, width: 70, height: 70, alt: '', data: { icon: true, plugin_options: { onlySVG: true, extraClass: 'svg-fill-color-primary px-5 py-4' } }) %>
												<h4 class="positive-ls-3 font-weight-bold text-3"><%= name %></h4>
											</div>
										</div>
									</div>
								</div>
							<% end %>
						</div>
						<p class="text-4-5 line-height-7 appear-animation text-justify"> Osim toga, u Priručniku možete pronaći i zanimljive zdrave recepte, a za one koje žele smršati, tu je i Plan ishrane od 1400 kalorija, s obrocima koje možete kombinovati u toku cijelog Ramazana i uputama kako da ih učinite još raznovrsnijim.</p>
					</div>
				</div>
			</div>
		</div>

		<section class="section bg-color-grey-scale-1 border-0 position-relative py-0 m-0">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-6 p-0">
						<div class="h-100 m-0">
							<div class="row m-0">
								<div class="col-half-section col-half-section-right ms-auto py-5">
									<div class="px-3 py-5">
										<h2 class="font-weight-bold text-color-dark text-9 mb-4 appear-animation" data-appear-animation="fadeInUpShorterPlus" data-appear-animation-delay="200">Pravilan način ishrane u toku Ramazana omogućava da:</h2>		
										<ul>
											<li><p class="text-4-5 line-height-7 appear-animation text-justify" data-appear-animation="fadeInUpShorterPlus" data-appear-animation-delay="400">Bez osjećaja gladi i žeđi dočekate iftar</p></li>
											<li><p class="text-4-5 line-height-7 appear-animation text-justify" data-appear-animation="fadeInUpShorterPlus" data-appear-animation-delay="600">Bez malaksalosti i slabosti provedete dan radeći standardne dnevne aktivnosti</p></li>
											<li><p class="text-4-5 line-height-7 appear-animation text-justify" data-appear-animation="fadeInUpShorterPlus" data-appear-animation-delay="800">Ne osjećate se tromo i usporeno poslije iftara</p></li>
											<li><p class="text-4-5 line-height-7 appear-animation text-justify" data-appear-animation="fadeInUpShorterPlus" data-appear-animation-delay="1000">Poboljšate svoje zdravlje</p></li>
											<li><p class="text-4-5 line-height-7 appear-animation text-justify" data-appear-animation="fadeInUpShorterPlus" data-appear-animation-delay="1200">I ukoliko želite, izgubite neželjene kilograme</p></li>
										</ul>
										<p class="text-4-5 line-height-7 appear-animation text-justify" data-appear-animation="fadeInUpShorterPlus" data-appear-animation-delay="1400">Pravilan način ishrane u toku Ramazana ne znači da manje jedete ili u potpunosti izbjegavate jela koja volite. To znači samo da birate pametno i kuhate na pravi način.</p>
										<%= link_to "Pogledaj primjer", asset_path('pdfs/Prirucnik-za-ishranu-u-Ramazanu.pdf'), { target: "_blank", class: "btn btn-gradient font-weight-bold btn-px-5 btn-py-3 appear-animation", 'data-appear-animation' => 'fadeInUpShorterPlus', 'data-appear-animation-delay' => '1400' } %>
									</div>

								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-6 p-0">
						<div class="h-100 m-0">
							<div class="row m-0">
								<div class="col-half-section col-half-section-right">
										<%= image_tag('recepti.jpg', class: 'parallax', data: { plugin: 'parallax', plugin_options: { speed: 1.5, parallaxHeight: '135%' } }, style: 'min-height: 285px; max-width: 100%; height: auto;', width: 970, height: 515) %>					
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

	</div>
</div>