<!DOCTYPE html>
<html>
  <head>
    <title>Zenos</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <!-- Basic -->
		<meta charset="utf-8">


		<meta name="keywords" content="WebSite Template" />
		<meta name="description" content="Porto - Multipurpose Website Template">
		<meta name="author" content="okler.net">

		<!-- Favicon -->
		<link rel="shortcut icon" href="/assets/img/favicon.ico" type="image/x-icon" />
		<link rel="apple-touch-icon" href="/assets/img/apple-touch-icon.png">

		<!-- Mobile Metas -->
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">

		<!-- Web Fonts  -->
		<link id="googleFonts" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800%7CShadows+Into+Light%7CPlayfair+Display:400&display=swap" rel="stylesheet" type="text/css">

		<!-- Vendor CSS -->
		<%= stylesheet_link_tag '/assets/vendor/bootstrap/css/bootstrap.min.css' %>
		<%= stylesheet_link_tag '/assets/vendor/fontawesome-free/css/all.min.css' %>
		<%= stylesheet_link_tag '/assets/vendor/animate/animate.compat.css' %>
		<%= stylesheet_link_tag '/assets/vendor/simple-line-icons/css/simple-line-icons.min.css' %>
		<%= stylesheet_link_tag '/assets/vendor/owl.carousel/assets/owl.carousel.min.css' %>
		<%= stylesheet_link_tag '/assets/vendor/owl.carousel/assets/owl.theme.default.min.css' %>
		<%= stylesheet_link_tag '/assets/vendor/magnific-popup/magnific-popup.min.css' %>


		<!-- Theme CSS -->
		<%= stylesheet_link_tag '/assets/css/theme.css' %>
		<%= stylesheet_link_tag 'theme-blog.css' %>
		<%= stylesheet_link_tag '/assets/css/theme-elements-new.css' %>
		<%= stylesheet_link_tag '/assets/css/theme-shop.css' %>

		<!-- Revolution Slider CSS -->
		<%= stylesheet_link_tag '/assets/vendor/rs-plugin/css/settings.css' %>
		<%= stylesheet_link_tag '/assets/vendor/rs-plugin/css/layers.css' %>
		<%= stylesheet_link_tag '/assets/vendor/rs-plugin/css/navigation.css' %>


		<!-- Demo CSS -->
		<%= stylesheet_link_tag '/assets/css/demos/demo-digital-agency.css' %>


		<!-- Skin CSS -->
		<%= stylesheet_link_tag '/assets/css/skins/skin-digital-agency.css' %>

		<!-- Theme Custom CSS -->
		<%= stylesheet_link_tag '/assets/css/custom.css' %>

		<!-- Head Libs -->
		<%= javascript_include_tag 'modernizr.min.js' %>

		<script src="https://cdn.tiny.cloud/1/gtln41g4mw897k7woob4uo2h1zie4yos88yvzke0khwrxags/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
		<script>
			tinymce.init({
				selector: '.tinymce',
				plugins: 'lists link image table code help wordcount'
			});
		</script>
  </head>

  <body>
      <%= render "shared/navbar" %>
      <%= render "shared/flashes" %>
      <%= yield %>
      <%= render "shared/footer" %>

		<!-- Vendor -->
		<%= javascript_include_tag 'plugins.min.js' %>

		<!-- Theme Base, Components and Settings -->
		<%= javascript_include_tag 'theme.js' %>

		<!-- Current Page Vendor and Views -->
		<%= javascript_include_tag 'view.contact.js' %>

		<!-- Theme Custom -->
		<%= javascript_include_tag 'custom.js' %>

		<!-- Theme Initialization Files -->
		<%= javascript_include_tag 'theme.init.js' %>
  </body>
</html>
